# Virtual environments
envs/
venv/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Models (InsightFace auto downloads)
*.onnx

# Logs
*.log

# VS Code
.vscode/

# Large data
src/vision/face_db/*